body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 21px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #000000;
}


h1 {
  font-size: 220%;
  font-weight: 700;
  line-height: 431.25%;
}

h3 {
  font-size: 120%;
  font-style: italic;
  line-height: 178.125%;
  margin-bottom: 22px;
  padding-bottom: 60px;
}

p {
  font-size: 100%;
  line-height: 150%;
  margin-bottom: 22px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
